[submodule "nvim/.config/nvim"]
	path = nvim/.config/nvim
	url = https://github.com/Tuhkis/neovim-config.git
[submodule "alacritty/.config/alacritty"]
	path = alacritty/.config/alacritty
	url = https://github.com/Tuhkis/alacri-yeet.git
